##############################
## Folders                  ##
##############################
build 
devel
##############################
## Netbeans conf            ##
##############################

# vscode
.vscode
