<launch>
    <node pkg="dmotion"
          name="imu_test"
          type="imu_test"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">

          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/motion.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/motor.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/pvhipY.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/kick.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/sidekick.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/fastkick.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/goalie.yml"/>
          <rosparam command="load" file="$(find dmotion)/config/test/dmotion/setup.yml"/>

      </node>
      <!--Global parameters-->
      <rosparam command="load" file="$(find dmotion)/config/global.yml"/>
</launch>
