<launch>
    <node pkg="dmotion"
          name="dmotion_$(env ZJUDANCER_ROBOTID)"
          type="main"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">

        <param name="RobotId" value="$(env ZJUDANCER_ROBOTID)" />

        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/motion.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/motor.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/pvhipY.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/kick.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/sidekick.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/fastkick.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/goalie.yml"/>
        <rosparam command="load" file="$(find dmotion)/config/$(env ZJUDANCER_ROBOTID)/dmotion/setup.yml"/>

    </node>
    <!--Global parameters-->
    <rosparam command="load" file="$(find dmotion)/config/global.yml"/>
</launch>
