<launch>
    <node pkg="dmotion"
          name="test_servo"
          type="test_servo"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">

        <rosparam command="load" file="$(find dconfig)/test/dmotion/motion.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/motor.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/pvhipY.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/kick.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/sidekick.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/fastkick.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/goalie.yml"/>
        <rosparam command="load" file="$(find dconfig)/test/dmotion/setup.yml"/>

    </node>
    <!--Global parameters-->
    <rosparam command="load" file="$(find dconfig)/global.yml"/>
</launch>
